*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}

/* Desktop Navbar */
.navbar{
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 50px;
    background: #000;
}

.logo{
    color: #fff;
    font-size: 24px;
    font-weight: bold;
}

