*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
body{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background: linear-gradient(135deg, gray,white);
}
.main-container{
    width: 500px;
    /* padding: 25px; */
}
.login-box{
    text-align: center;
    background: white;
    height: 650px; 
    padding: 25px;
    border-radius: 20px;
    box-shadow: 0px 54px 55px rgba(0, 0, 0, 0.25), 0px -12px 30px rgba(0, 0, 0, 0.12), 0px 4px 6px rgba(0, 0, 0, 0.12), 0px 12px 13px rgba(0, 0, 0, 0.17), 0px -3px 5px rgba(0, 0, 0, 0.09);
    
}
h1{
    font-size: 2rem;
    margin-bottom: 10px;
    letter-spacing: 2px;
}
p{
    font-size: 1.2rem;
    margin-bottom: 20px;
    letter-spacing: 2px;

}
label{
    display:block;
    text-align: left;
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
    /* font-weight: bold; */
}
input{
    width:100%;
    padding: 18px;
    border-radius: 15px;
    outline:none;
    border: 1px solid #ccc;
    margin-bottom: 1.5rem;
   box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    
}
input:focus{
    border: 1px solid blue ;
    transition: 0.3s;
}
#forget{
    text-align: right;
    margin-bottom: 1rem;
}
#forget a{
    text-decoration: none;
    font-size: 17px;
    font-weight: bold;
    color: rgb(9, 9, 240);

    /* margin-bottom: ; */
}
.button{
    width: 100%;
    padding: 15px;
    border-radius: 15px;
    border: 1px solid;
    font-size: 25px;
    font-weight: bold;
    background: rgb(117, 117, 255)    ;
    color: white;
        letter-spacing: 2px;

    /* box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px; */
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
    margin-bottom: 20px;
}
.button:hover{
    background: rgb(9, 9, 240) ;
    cursor: pointer;
    transition:  0.3s;
}
button a{
    text-decoration: none;
    color:white;
    font-size:25px;
}
#signup{
    font-weight: bold;
    font-size: 15px;
    
}
#signup a{
    text-decoration: none;
    color: rgb(9, 9, 240);
}