*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: lightcoral;
    
}
.nav-container{
    margin-bottom: 40px ;
}
h2{
    margin-bottom: 10px ;
}

nav{
    background: rgb(255, 255, 255);
    padding: 10px;
}

nav ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
    /* align-items: center; */
}

nav li{
    display: inline;
}
nav a{
    text-decoration: none;
    color: green;
    font-weight: bold;
    font-size: 20px;
    background-color: yellow;
    padding: 5px 100px;
     position: relative;
}

nav a::after{
    /* content: "meowmeow"; */
    height: 2px;
    width: 100%;
    background-color: blue;
   position: absolute;
   bottom: 0;
   left: 0;
   transform: scaleX(0);
   transition: transform 0.3s ease-in-out;
}

nav a:hover::after{
    transform: scaleX(1);
}

nav button{
    background-color: blue;
    width: 200px;
    padding: 10px;
    color: white;
    border-radius: 10px;


}
